In [1]:
from blockchain import blockexplorer as explorer
from blockchain import exchangerates

In [2]:
addresses = [
    ('3PajPWymUexhewHPczmLQ8CMYatKAGNj3y','al-Qassam Brigades'),
    ('3LrjAKNfnyX2BGmor6ZNxvZutM1Q3KEejZ','al-Qassam Brigades'),
    ('1HrPF5CPqJiWbkroxheU5LcHL7bZNDi76v','al-Qassam Brigades'),
    ('1D9jDMKhss9vtmeRWeBA6tmts52JoQyezk','al-Qassam Brigades'),
    ('1JJrTJgxSNqEPDrRBogD7odjvCwuog9Cqb','al-Qassam Brigades'),
    ('17QAWGVpFV4gZ25NQug46e5mBho4uDP6MD','al-Qassam Brigades'),
    ('1KDFQFnFfy9gJgXF18U3vpfeJQAeixPp1K','al-Qassam Brigades'),
    ('1HQhQfFPesW8znZdsdizHnA8ggvtc6NJ4k','al-Qassam Brigades'),
    ('1AW9z69zW2Wpg5i2gFs9YzkvZLjzDNx5VG','al-Qassam Brigades'),
    ('14EwXyqiB3yVLDJ1zVNevvEDpyyhBdnzjk','al-Qassam Brigades'),
    ('14S3GUHsqSY2am6yCPqEhb72sECUUbnRtE','al-Qassam Brigades'),
    ('14dRMzjmatz7zkc7iRYaitMvw4YPxXJYHf','al-Qassam Brigades'),
    ('1JJQceg2YZuCsJxUvAAVwU2YH4wDwxQoy6','al-Qassam Brigades'),
    ('1EQFWyM1gTus8cnuwHQErnaED3um1py2pF','al-Qassam Brigades'),
    ('19ncZQTCBfvfW5bsM7v3Pe7t6nzu4GZy4r','al-Qassam Brigades'),
    ('15K9Zj1AU2hjT3ebZMtWqDsMv3fFxTNwpf','Al Sadaqah')
]

In [3]:
first_address = explorer.get_address(addresses[0][0])

In [4]:
first_address.total_sent

53308383

In [5]:
first_address.total_received

53308383

In [6]:
len(first_address.transactions)

54

In [7]:
addresses_with_info = []

for a in addresses:
    a_info = explorer.get_address(a[0])
    adict = {
        "address": a[0],
        "related_to": a[1],
        "total_sent": a_info.total_sent,
        "total_received": a_info.total_received,
        "total_transactions": len(a_info.transactions)
        
    }
    addresses_with_info.append(adict)

In [8]:
import pandas as pd

In [9]:
address_df = pd.DataFrame(addresses_with_info)

In [10]:
address_df

,address,related_to,total_sent,total_received,total_transactions
0,3PajPWymUexhewHPczmLQ8CMYatKAGNj3y,al-Qassam Brigades,53308383,53308383,54
1,3LrjAKNfnyX2BGmor6ZNxvZutM1Q3KEejZ,al-Qassam Brigades,0,0,0
2,1HrPF5CPqJiWbkroxheU5LcHL7bZNDi76v,al-Qassam Brigades,676271792,676271792,100
3,1D9jDMKhss9vtmeRWeBA6tmts52JoQyezk,al-Qassam Brigades,12652832,12652832,6
4,1JJrTJgxSNqEPDrRBogD7odjvCwuog9Cqb,al-Qassam Brigades,44855184,44855184,18
5,17QAWGVpFV4gZ25NQug46e5mBho4uDP6MD,al-Qassam Brigades,109253891,109818169,73
6,1KDFQFnFfy9gJgXF18U3vpfeJQAeixPp1K,al-Qassam Brigades,14186,14186,2
7,1HQhQfFPesW8znZdsdizHnA8ggvtc6NJ4k,al-Qassam Brigades,250000,250000,2
8,1AW9z69zW2Wpg5i2gFs9YzkvZLjzDNx5VG,al-Qassam Brigades,12064,12064,2
9,14EwXyqiB3yVLDJ1zVNevvEDpyyhBdnzjk,al-Qassam Brigades,115618,125608,4
10,14S3GUHsqSY2am6yCPqEhb72sECUUbnRtE,al-Qassam Brigades,12592,12592,2
11,14dRMzjmatz7zkc7iRYaitMvw4YPxXJYHf,al-Qassam Brigades,162077,162077,2
12,1JJQceg2YZuCsJxUvAAVwU2YH4wDwxQoy6,al-Qassam Brigades,313928,313928,2
13,1EQFWyM1gTus8cnuwHQErnaED3um1py2pF,al-Qassam Brigades,288120,288120,2
14,19ncZQTCBfvfW5bsM7v3Pe7t6nzu4GZy4r,al-Qassam Brigades,8503009,8503009,2
15,15K9Zj1AU2hjT3ebZMtWqDsMv3fFxTNwpf,Al Sadaqah,8945595,9036343,23

## Exploring Address With Most Transactions

In [11]:
# could get programmatically
address_df.sort_values("total_received", ascending=False)["address"].values[0]

'1HrPF5CPqJiWbkroxheU5LcHL7bZNDi76v'

In [12]:
# just plugged it in
most_btc = explorer.get_address('1HrPF5CPqJiWbkroxheU5LcHL7bZNDi76v')

In [13]:
transactions = most_btc.transactions

In [14]:
transactions

[<blockchain.blockexplorer.Transaction at 0x10b5034a0>,
 <blockchain.blockexplorer.Transaction at 0x10c8b6330>,
 <blockchain.blockexplorer.Transaction at 0x10f26e270>,
 <blockchain.blockexplorer.Transaction at 0x10f26e3f0>,
 <blockchain.blockexplorer.Transaction at 0x10f26e4b0>,
 <blockchain.blockexplorer.Transaction at 0x10f26e630>,
 <blockchain.blockexplorer.Transaction at 0x10f26e6f0>,
 <blockchain.blockexplorer.Transaction at 0x10f26e840>,
 <blockchain.blockexplorer.Transaction at 0x10f26e900>,
 <blockchain.blockexplorer.Transaction at 0x10f26ea80>,
 <blockchain.blockexplorer.Transaction at 0x10f26eb40>,
 <blockchain.blockexplorer.Transaction at 0x10f26ec00>,
 <blockchain.blockexplorer.Transaction at 0x10f26ed50>,
 <blockchain.blockexplorer.Transaction at 0x10f26eea0>,
 <blockchain.blockexplorer.Transaction at 0x10f26ef60>,
 <blockchain.blockexplorer.Transaction at 0x10f26f410>,
 <blockchain.blockexplorer.Transaction at 0x10f26f4d0>,
 <blockchain.blockexplorer.Transaction at 0x10f26fbf0>,
 <blockchain.blockexplorer.Transaction at 0x10f26fcb0>,
 <blockchain.blockexplorer.Transaction at 0x10f26ff80>,
 <blockchain.blockexplorer.Transaction at 0x10f418080>,
 <blockchain.blockexplorer.Transaction at 0x10f4188c0>,
 <blockchain.blockexplorer.Transaction at 0x10f418980>,
 <blockchain.blockexplorer.Transaction at 0x10f419d30>,
 <blockchain.blockexplorer.Transaction at 0x10f419df0>,
 <blockchain.blockexplorer.Transaction at 0x10f41a1e0>,
 <blockchain.blockexplorer.Transaction at 0x10f41a2a0>,
 <blockchain.blockexplorer.Transaction at 0x10f41aae0>,
 <blockchain.blockexplorer.Transaction at 0x10f41aba0>,
 <blockchain.blockexplorer.Transaction at 0x10f41b0e0>,
 <blockchain.blockexplorer.Transaction at 0x10f41b1a0>,
 <blockchain.blockexplorer.Transaction at 0x10f41b530>,
 <blockchain.blockexplorer.Transaction at 0x10f41b5f0>,
 <blockchain.blockexplorer.Transaction at 0x10f41bef0>,
 <blockchain.blockexplorer.Transaction at 0x10f41bfb0>,
 <blockchain.blockexplorer.Transaction at 0x10f4240b0>,
 <blockchain.blockexplorer.Transaction at 0x10f424170>,
 <blockchain.blockexplorer.Transaction at 0x10f424230>,
 <blockchain.blockexplorer.Transaction at 0x10f4242f0>,
 <blockchain.blockexplorer.Transaction at 0x10f424740>,
 <blockchain.blockexplorer.Transaction at 0x10f424800>,
 <blockchain.blockexplorer.Transaction at 0x10f4248c0>,
 <blockchain.blockexplorer.Transaction at 0x10f424980>,
 <blockchain.blockexplorer.Transaction at 0x10f4262a0>,
 <blockchain.blockexplorer.Transaction at 0x10f426360>,
 <blockchain.blockexplorer.Transaction at 0x10f4274d0>,
 <blockchain.blockexplorer.Transaction at 0x10f427590>,
 <blockchain.blockexplorer.Transaction at 0x10f42da00>,
 <blockchain.blockexplorer.Transaction at 0x10f42dac0>,
 <blockchain.blockexplorer.Transaction at 0x10f42db80>,
 <blockchain.blockexplorer.Transaction at 0x10f42dc40>,
 <blockchain.blockexplorer.Transaction at 0x10f42dd60>,
 <blockchain.blockexplorer.Transaction at 0x10f42de20>,
 <blockchain.blockexplorer.Transaction at 0x10f42e6c0>,
 <blockchain.blockexplorer.Transaction at 0x10f42e780>,
 <blockchain.blockexplorer.Transaction at 0x10f42e840>,
 <blockchain.blockexplorer.Transaction at 0x10f42e900>,
 <blockchain.blockexplorer.Transaction at 0x10f42f8f0>,
 <blockchain.blockexplorer.Transaction at 0x10f42f9b0>,
 <blockchain.blockexplorer.Transaction at 0x10f42fa70>,
 <blockchain.blockexplorer.Transaction at 0x10f42fb30>,
 <blockchain.blockexplorer.Transaction at 0x10f438260>,
 <blockchain.blockexplorer.Transaction at 0x10f4388c0>,
 <blockchain.blockexplorer.Transaction at 0x10f438980>,
 <blockchain.blockexplorer.Transaction at 0x10f438a40>,
 <blockchain.blockexplorer.Transaction at 0x10f438b00>,
 <blockchain.blockexplorer.Transaction at 0x10f438bc0>,
 <blockchain.blockexplorer.Transaction at 0x10f4398b0>,
 <blockchain.blockexplorer.Transaction at 0x10f439970>,
 <blockchain.blockexplorer.Transaction at 0x10f439a60>,
 <blockchain.blockexplorer.Transaction at 0x10f439b20>,
 <blockchain.blockexplorer.Transaction at 0x10f439be0>,
 <blockchain.blockexplorer.Transaction at 0x10f439ca0>,
 <blockchain.blockexplorer.Transaction at 0x10f439d90>,
 <blockchain.blockexplorer.Transaction at 0x10f439e50>,
 <blockchain.blockexplorer.Transaction at 0x10f439ee0>,
 <blockchain.blockexplorer.Transaction at 0x10f439fa0>,
 <blockchain.blockexplorer.Transaction at 0x10f43a060>,
 <blockchain.blockexplorer.Transaction at 0x10f43a120>,
 <blockchain.blockexplorer.Transaction at 0x10f43a210>,
 <blockchain.blockexplorer.Transaction at 0x10f43a2d0>,
 <blockchain.blockexplorer.Transaction at 0x10f43afc0>,
 <blockchain.blockexplorer.Transaction at 0x10f43b080>,
 <blockchain.blockexplorer.Transaction at 0x10f43b140>,
 <blockchain.blockexplorer.Transaction at 0x10f43b9b0>,
 <blockchain.blockexplorer.Transaction at 0x10f43bb60>,
 <blockchain.blockexplorer.Transaction at 0x10f43bc20>,
 <blockchain.blockexplorer.Transaction at 0x10f43bf50>,
 <blockchain.blockexplorer.Transaction at 0x10f44c050>,
 <blockchain.blockexplorer.Transaction at 0x10f44c440>,
 <blockchain.blockexplorer.Transaction at 0x10f44c500>,
 <blockchain.blockexplorer.Transaction at 0x10f44c5f0>,
 <blockchain.blockexplorer.Transaction at 0x10f44c6b0>,
 <blockchain.blockexplorer.Transaction at 0x10f44c8c0>,
 <blockchain.blockexplorer.Transaction at 0x10f44c980>,
 <blockchain.blockexplorer.Transaction at 0x10f44ca70>,
 <blockchain.blockexplorer.Transaction at 0x10f44cb30>,
 <blockchain.blockexplorer.Transaction at 0x10f44ce00>,
 <blockchain.blockexplorer.Transaction at 0x10f44cec0>,
 <blockchain.blockexplorer.Transaction at 0x10f44d160>]

In [15]:
input_addresses = {}
output_addresses = {}

for t in transactions:
    for i in t.inputs:
        if i.address in input_addresses:
            input_addresses[i.address] += i.value
        else:
            input_addresses[i.address] = i.value
    for o in t.outputs:
        if o.address in output_addresses:
            output_addresses[o.address] += o.value
        else:
            output_addresses[o.address] = o.value

In [16]:
inputs_df = pd.DataFrame.from_dict(input_addresses, orient='index', columns=['input_total'])
outputs_df = pd.DataFrame.from_dict(output_addresses, orient='index', columns=['output_total'])

In [17]:
total_transactions = (
    inputs_df
    .join(outputs_df, how="outer")
    .fillna(0)
    .assign(total_transacted = lambda df: df.sum(axis=1))
    .sort_values("total_transacted", ascending=False)
)

In [18]:
# it didn't interact with any of the others?
total_transactions.reset_index().loc[lambda x: x["index"].isin([ a[0] for a in addresses ])]

,index,input_total,output_total,total_transacted
25,1HrPF5CPqJiWbkroxheU5LcHL7bZNDi76v,265204767.0,265204767.0,530409534.0

In [19]:
# six addresses transacted in and out with the address
total_transactions.loc[lambda x: (x["input_total"] > 0) & (x["output_total"] > 0)]

,input_total,output_total,total_transacted
17A16QmavnUfCW11DAApiJxp7ARnxN5pGX,3.130037e+10,1.295359e+10,4.425396e+10
1N52wHoVR79PMDishab2XmRHsbekCdGquK,8.031405e+09,1.466403e+09,9.497808e+09
1HrPF5CPqJiWbkroxheU5LcHL7bZNDi76v,2.652048e+08,2.652048e+08,5.304095e+08
1LaNXgq2ctDEa4fTha6PTo8sucqzieQctq,1.277536e+07,8.220110e+05,1.359737e+07
16DAezrvBGpEd5R33SkDhaXUF15iVWPVyS,1.313306e+07,2.669200e+05,1.339998e+07
1Ln3Y4j1e5vKt6YxShNkdLUPcZrQH7Rkcd,2.318386e+06,1.856680e+06,4.175066e+06

`1LaNXgq2ctDEa4fTha6PTo8sucqzieQctq` appears in this [Coin Telegraph](https://cointelegraph.com/news/report-hamas-iran-tied-militants-intensify-bitcoin-fundraising-action) article about Hamas funding

I couldn't find absolutely anything on the last two.

In [27]:
def convert_satoshis_to_usd(num):
    btc = num * 0.00000001 # there are 100 million satoshis in a bitcoin
    usd = btc * 62922.60 # price as of 9/26 would be better to do on day of transaction
    return usd

In [29]:
total_transactions["input_$"] = total_transactions["input_total"].apply(lambda x: convert_satoshis_to_usd(x))
total_transactions["output_$"] = total_transactions["output_total"].apply(lambda x: convert_satoshis_to_usd(x))
total_transactions["total_$"] = total_transactions["total_transacted"].apply(lambda x: convert_satoshis_to_usd(x))

In [32]:
pd.set_option('display.float_format', '{:.2f}'.format) # to remove scientific notation

In [33]:
total_transactions.loc[lambda x: (x["input_total"] > 0) & (x["output_total"] > 0)]

,input_total,output_total,total_transacted,input_$,output_$,total_$
17A16QmavnUfCW11DAApiJxp7ARnxN5pGX,31300368499.00,12953587002.00,44253955501.00,19695005.67,8150733.73,27845739.40
1N52wHoVR79PMDishab2XmRHsbekCdGquK,8031404816.00,1466403104.00,9497807920.00,5053568.73,922698.96,5976267.69
1HrPF5CPqJiWbkroxheU5LcHL7bZNDi76v,265204767.00,265204767.00,530409534.00,166873.73,166873.73,333747.47
1LaNXgq2ctDEa4fTha6PTo8sucqzieQctq,12775362.00,822011.00,13597373.00,8038.59,517.23,8555.82
16DAezrvBGpEd5R33SkDhaXUF15iVWPVyS,13133056.00,266920.00,13399976.00,8263.66,167.95,8431.61
1Ln3Y4j1e5vKt6YxShNkdLUPcZrQH7Rkcd,2318386.00,1856680.00,4175066.00,1458.79,1168.27,2627.06

In [37]:
total_transactions.sort_values("input_$", ascending=False).head(10)

,input_total,output_total,total_transacted,input_$,output_$,total_$
17A16QmavnUfCW11DAApiJxp7ARnxN5pGX,31300368499.00,12953587002.00,44253955501.00,19695005.67,8150733.73,27845739.40
18D79VG5xjDcyb8fWmbcdSRQzpuEVsJb8R,11326738232.00,0.00,11326738232.00,7127078.19,0.00,7127078.19
1N52wHoVR79PMDishab2XmRHsbekCdGquK,8031404816.00,1466403104.00,9497807920.00,5053568.73,922698.96,5976267.69
1GE4qFFGtWLxmraqcYtQzrmtcEgM4573am,5000000000.00,0.00,5000000000.00,3146130.00,0.00,3146130.00
169Q3Sz3UQQGKofpxh6T8cZxfky1q2Z595,5000000000.00,0.00,5000000000.00,3146130.00,0.00,3146130.00
18UiXqW2s8wST5q3qWmFFUWJnhkVo1vwtF,4438415677.00,0.00,4438415677.00,2792766.54,0.00,2792766.54
1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s,3695021405.00,0.00,3695021405.00,2325003.54,0.00,2325003.54
1Kb6tJXpFQ4St9fa4ca3jA89mkKe7Jvxf,2148722000.00,0.00,2148722000.00,1352031.75,0.00,1352031.75
1Djwqdsq8WHhsMnqwv4mbAsynHYTogTR51,1634647677.00,0.00,1634647677.00,1028562.82,0.00,1028562.82
12j2Rd66NoiWhiANHZ51ufQWpV4hFtQo3r,1000000000.00,0.00,1000000000.00,629226.00,0.00,629226.00

According to a [Tweet](https://x.com/binance/status/961666467325358081?lang=en), `1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s` belongs to the company Binance.